In [32]:
# 
import mysql.connector
# Connect with the MySQL Server
connection = mysql.connector.connect(user='root', database='Persons',
                                     password="7095846815",
                                     host="127.0.0.1")
# ALTER USER 'root'@'localhost' IDENTIFIED BY 'password' PASSWORD EXPIRE NEVER;
# ALTER USER 'root'@'localhost' IDENTIFIED WITH mysql_native_password BY '{NewPassword}';
cursor = connection.cursor()

cursor.execute("INSERT INTO Employee (FirstName,LastName,age) VALUES ('Sunil','Kumar',21);")
connection.commit()
# cursor.fetchone() -- collect one record from the given query
cursor.fetchall() #-- It will collect all record from the given query
cursor.execute("select * from Employee;")
for i in cursor:
    print(i)
# cursor.close()
connection.close()

('Naresh', 'Kumar', 25)
('Naresh', 'Kumar', 25)
('Naresh', 'Kumar', 25)
('Suresh', 'Kumar', 26)
('Suresh', 'Kumar', 26)
('Suresh', 'Kumar', 26)
('Suresh', 'Kumar', 26)
('Suresh', 'Kumar', 26)
('Sunil', 'Kumar', 21)
('Sunil', 'Kumar', 21)
('Sunil', 'Kumar', 21)

In [34]:
import mysql.connector
# Connect with the MySQL Server
connection = mysql.connector.connect(user='root', database='Persons',
                                     password="7095846815",
                                     host="127.0.0.1")
# ALTER USER 'root'@'localhost' IDENTIFIED BY 'password' PASSWORD EXPIRE NEVER;
# ALTER USER 'root'@'localhost' IDENTIFIED WITH mysql_native_password BY '{NewPassword}';
cursor = connection.cursor()
cursor.execute("CREATE TABLE Employee2(FirstName varchar(45) NOT NULL, LastName varchar(35) NOT NULL,  age int NOT NULL);")
cursor.execute("INSERT INTO Employee2 (FirstName,LastName,age) VALUES ('Sunil','Kumar',21);")
connection.commit()
# cursor.fetchone() -- collect one record from the given query
cursor.fetchall() #-- It will collect all record from the given query
cursor.execute("select * from Employee2;")
for i in cursor:
    print(i)
# cursor.close()
connection.close()

('Sunil', 'Kumar', 21)

In [4]:
import mysql.connector
# Connect with the MySQL Server
connection = mysql.connector.connect(user='root', database='Persons',
                                     password="7095846815",
                                     host="127.0.0.1")
# ALTER USER 'root'@'localhost' IDENTIFIED BY 'password' PASSWORD EXPIRE NEVER;
# ALTER USER 'root'@'localhost' IDENTIFIED WITH mysql_native_password BY '{NewPassword}';
cursor = connection.cursor()
# cursor.execute("CREATE TABLE Employee3(FirstName varchar(45) NOT NULL, LastName varchar(35) NOT NULL,  age int NOT NULL);")
# cursor.execute("INSERT INTO Employee3 (FirstName,LastName,age) VALUES ('Naresh','Kumar',25);")
# cursor.execute("INSERT INTO Employee3 (FirstName,LastName,age) VALUES ('Sunil','Kumar',21);")
# cursor.execute("INSERT INTO Employee3 (FirstName,LastName,age) VALUES ('Suresh','Kumar',44);")
# connection.commit()
# cursor.fetchone() -- collect one record from the given query
# cursor.fetchall() #-- It will collect all record from the given query
cursor.execute("select * from Employee3;")
for i in cursor:
    print(i)
# cursor.close()
connection.close()

('Naresh', 'Kumar', 25)
('Sunil', 'Kumar', 21)
('Suresh', 'Kumar', 44)
('Naresh', 'Kumar', 25)
('Sunil', 'Kumar', 21)
('Suresh', 'Kumar', 44)