In [1]:
# 1.Find the common part from the given iterables 
# Example: (1,2,3,4,6), (1,2,3,7,8,9), (1,2,3,10,11,12), (1,2,13,14,15)
# Result: (1,2)

In [14]:
data=(1,2,3,4,6), (1,2,3,7,8,9), (1,2,3,10,11,12), (1,2,13,14,15)

In [16]:
list(zip(*data))

[(1, 1, 1, 1), (2, 2, 2, 2), (3, 3, 3, 13), (4, 7, 10, 14), (6, 8, 11, 15)]

In [22]:
data=(1,2,3,4,6), (1,2,3,7,8,9), (1,2,3,10,11,12), (1,2,13,14,15)
for i in zip(*data):
    if len(set(i))==1:
        print(i[0])

1
2

In [21]:
# 2. L = [“a”,”b”,”c”,3,4,5].If it is an integer then add 10 to integer and print 
#  O/p -- a,b,c,13,14,15

In [32]:
L = ['a','b','c',3,4,5]
for i in L:
    if isinstance(i,int):
        print(10+i,end=' ')
    else:
        print(i,end=' ')

a b c 13 14 15

In [33]:
#  3. L = [“a”,”b”,”c”,3,4,5] ..If it is integer add 10 and print all those values in list
#  o/p  --  [“a”,”b”,”c”,13,14,15].

In [31]:
L = ['a','b','c',3,4,5]
# for i in L:
#     if isinstance(i,int):
#         print(10+i,end=' ')
#     else:
#         print(i,end=' ')
[10+i if isinstance(i,int) else i for i in L]

['a', 'b', 'c', 13, 14, 15]

In [34]:
# 4. L1 = [3,4,5,6],L2 = [4,3,2,1].Result list should be addition of elements in both lists O/p -- Result List -- [7,7,7,7]

In [36]:
L1 = [3,4,5,6]
L2 = [4,3,2,1]
[L1[0]+L2[0] for i in range(len(L1))]

[7, 7, 7, 7]

In [37]:
# 5. L = [1,1,2,3,4,5,1,12,1,2,1,1,2] .remove duplicates without using set?
# Try with and without a temporary list?

In [46]:
# with a temporary list
L = [1,1,2,3,4,5,1,12,1,2,1,1,2]
lst=[]
for i in L:
    if i not in lst:
        lst.append(i)
print(lst)

[1, 2, 3, 4, 5, 12]

In [50]:
# without a temporary list
L = [1,1,2,3,4,5,1,12,1,2,1,1,2]
for i in L:
    while L.count(i)>1:
        L.remove(i)
print(L)

[3, 4, 5, 12, 1, 2]

In [51]:
# 6. S = “I am in hyderabad”.  Result = [“I”,”am”,”in”,”hyderabad”]
# Do this without using the Split( ) function.

In [99]:
s = 'I am in   hyd@erabad '
result=[]
st=''
for i in s:
    if i!=" ":
        st+=i
    else:
        if st!="":
            result.append(st)
        st=""
if st:
        result.append(st)
result

['I', 'am', 'in', 'hyd@erabad']

In [100]:
# 7. s = “I am in hyderabad”     Result = “I Am In Hyderabad”.
# Do this without using title ()

In [101]:
s = 'I am in hyderabad'
result=""
st=''
for i in s:
    if i!=" ":
        st+=i
    else:
        if st!="":
            c=st.capitalize()
            result+=c+" "
        st=""
if st:
        c=st.capitalize()
        result+=c
result

'I Am In Hyderabad'

In [102]:
# 8. S = “I am in hyderabad”.  If we give centre = 50
# Result = “                 I am in hyderabad                                 ”
# Do this without using centre ( )

In [105]:
# 8-S1
s= 'I am in hyderabad'
t=s.ljust(len(s)+20) 
r=t.rjust(len(t)+20)
r

'                    I am in hyderabad                    '

In [115]:
# 8-S2
s='I am in hyderabad'
width=60
" "*((width-len(s))//2)+s+" "*((width-len(s))//2)

'                     I am in hyderabad                     '

In [116]:
# 9. S = “This is hyb9900164930 bngl 9900 apr9505909369 flair950”
# O/P -- only mobile numbers in above string
# 9900164930
# 9505909369

In [119]:
s = 'This is hyb9900164930 bngl 9900 apr9505909369 flair950'
st=""
for i in s:
    if i.isdigit():
        st+=i
    else:
        if st and len(st)==10 and st[0] in '9876':
            print(st)
        st=""

9900164930
9505909369

In [120]:
# 10. S = “I am in bangalore”
# Count how many times letters are repeated in above string
# O/P  --  I = 2,a = 2,m=1,n=2,b=1,g=1,l=1,o=1,r=1,e=1

In [2]:
s = 'I am in banglore'
d={}
for i in s:
    if i.isalpha():
        if i in d:
            d[i]=d.get(i,0)+1
        else:        
            d[i]=1        
print(d)

{'I': 1, 'a': 2, 'm': 1, 'i': 1, 'n': 2, 'b': 1, 'g': 1, 'l': 1, 'o': 1, 'r': 1, 'e': 1}

In [161]:
# 11. S = “I am in bangalore”
# Count only vowels (a,e,i,o,u)how many times repeated .

In [171]:
s = 'I am in banglore urban'
d={}
for i in s:
    if i in 'aeiou':
            d[i]=d.get(i,0)+1       
print(d)

{'a': 3, 'i': 1, 'o': 1, 'e': 1, 'u': 1}

In [172]:
# 12. S= “bangalore hyderabad chennai pune”
# Count how many times letters are repeated in each word .

In [3]:
s = 'bangalore hyderabad chennai pune'
t=s.split()
d={}
for i in t:
    d1={}
    for j in i:
        d1[j]=d1.get(j,0)+1
    d.update({i:d1})
d

{'bangalore': {'b': 1, 'a': 2, 'n': 1, 'g': 1, 'l': 1, 'o': 1, 'r': 1, 'e': 1},
 'hyderabad': {'h': 1, 'y': 1, 'd': 2, 'e': 1, 'r': 1, 'a': 2, 'b': 1},
 'chennai': {'c': 1, 'h': 1, 'e': 1, 'n': 2, 'a': 1, 'i': 1},
 'pune': {'p': 1, 'u': 1, 'n': 1, 'e': 1}}

In [185]:
# 13. (A pangram is a sentence that contains all the letters of the English alphabet at least once, 
#      for example: "The quick brown fox jumps over the lazy dog".)

In [197]:
count=1
for i in "abcdefghijklmnopqrstuvwxyz":
    if i not in "the quick brown fox jumps over the lazy dog":
        count+=1
print('pangram' if count==1 else 'Not a pangram')

pangram

In [198]:
# 14. Write a Python program that accepts a string and calculates the number of upper case letters and lower case letters. 
# Sample String : 'The quick Brow Fox'
# Expected Output : 
#         No. of Uppercase characters : 3
#         No. of Lower case Characters : 12

In [205]:
s='The quick Brow Fox'
u=0
l=0
for i in s:
    if i.isalpha():
        if i.isupper():
            u+=1 
        else:
             l+=1
u,l
# print(f"u={u},l={l}")

(3, 12)

In [206]:
# 16. Write a Python program that accepts a hyphen separated sequence of words as input 
# and prints the words in a hyphen-separated sequence after sorting them alphabetically.
# Sample Items : green-red-yellow-black-white
# Expected Result : black-green-red-white-yellow

In [207]:
word='green-red-yellow-black-white'
colors=word.split('-')
colors.sort()
'-'.join(colors)

'black-green-red-white-yellow'

In [ ]:
# 17. create a dictionary from a list of integers.
# i/p: [9,3,4,1,2,9,4,2,1,6,3,2,4]
# o/p: {9:2, 3:2, 2:3, 4:3, 1:2, 6:1}

In [209]:
l=[9,3,4,1,2,9,4,2,1,6,3,2,4]
d={}
for i in l:
    d[i]=d.get(i, 0)+1
d

{9: 2, 3: 2, 4: 3, 1: 2, 2: 3, 6: 1}

In [173]:
# 18. Write a python program to create a dictionary.
# i/p:["sachin cricket", "Federer tennis", "Nadal tennis", "virat cricket", "Messi football"]
# o/p: {"cricket": ["sachin", "virat"], "tennis": ["federer", 'nadal'], "football": ['Messi']}

In [181]:
data=["sachin cricket", "Federer tennis", "Nadal tennis", "virat cricket", "Messi football"]
result={}
for i in data:
    name,game=i.split()
    result[game]=result.get(game,[])+[name]
print(result)

{'cricket': ['sachin', 'virat'], 'tennis': ['Federer', 'Nadal'], 'football': ['Messi']}

In [210]:
# 19. write a program to print if a given string is palindrome or not.
# i/p: "hello"  o/p: Not a palindrome.
# i/p: "madam"  o/p : It's a palindrome.

In [214]:
print('palindrome' if "hello"=="hello"[::-1] else 'not a palindrome')
print('palindrome' if "madam"=="madam"[::-1] else 'not a palindrome')

not a palindrome
palindrome

In [215]:
# 20. Write a python function to interchange keys and values in a dictionary. 
# i/p: {'x': 1, 'y': 2, 'z': 3}
# o/p: {1: 'x', 2: 'y', 3: 'z'}

In [220]:
d={'x': 1, 'y': 2, 'z': 3}
d2={}
for k,v in d.items():
    d2[v]=k
d2
# {v:k for k,v in d.items()}

{1: 'x', 2: 'y', 3: 'z'}

In [221]:
# 21. Write a program to take consecutive elements from two lists.
# i/p: a = [3, 4, 5, 6],  b = [1, 2, 3, 4]
# o/p: [(3, 1), (4, 2), (5, 3), (6, 4)]

In [229]:
a,b = [3, 4, 5, 6], [1, 2, 3, 4]
# list(zip(a,b))
[(a[i],b[i]) for i in range(len(a))]

[(3, 1), (4, 2), (5, 3), (6, 4)]

In [230]:
# 22. Write a program to group words from a list.
# i/p: ['ashok', 'hari', 'bhanu', 'anil', 'bharath', 'anvesh', 'uday', 'raja']
# o/p: {'a': ['ashok', 'anil', 'anvesh'], 'b': ['bhanu', 'bharath'], h: ['hari'], 'u': ['uday'], 'r': ['raja']}

In [238]:
data=['ashok', 'hari', 'bhanu', 'anil', 'bharath', 'anvesh', 'uday', 'raja']
d={}
for i in data:
    d[i[0]]=d.get(i[0],[])+[i]
print(d)

{'a': ['ashok', 'anil', 'anvesh'], 'h': ['hari'], 'b': ['bhanu', 'bharath'], 'u': ['uday'], 'r': ['raja']}

In [239]:
# 23. Write a program to check if a given number is an armstrong number or not. Armstrong number is formed by
# sum of cubes of each digit of a given number.
# 153 = 1*1*1 + 5*5*5 + 3*3*3  // 153 is an Armstrong number.

In [256]:
num='153'
digit=153
sum=0
for i in range(len(num)):
    temp=digit%10
    digit=digit//10
    sum+=(temp**len(num))
if sum==int(num):
    print('Armstrong')
else:
    print('Not')

Armstrong

In [1]:
# fibonacci n series
def fib(n):
    a=0
    b=1
    if n<=0:
        print('invalid input')
    elif n==1:
        print(a)
    else:
        print(a)
        print(b)
        for i in range(2,n):
            a,b=b,a+b
            print(b)
fib(10)

0
1
1
2
3
5
8
13
21
34

In [22]:
# fibonacci series upto n
def fibn(n):
        a=0
        b=1
        i=0
        print(a)
        while b<=n:
            a,b=b,a+b
            print(a)
fibn(100)

0
1
1
2
3
5
8
13
21
34
55
89

In [28]:
# factorial
n=7
product=1
for i in range(1,n+1):
    product*=i
product

5040

In [32]:
# factorial as a function for n numbers
def fact(n):
    product=1
    for i in range(1,n+1):
        product*=i
    return product
n=10
for i in range(1,n):
    print(f"factorial of {i} is:",fact(i))

factorial of 1 is: 1
factorial of 2 is: 2
factorial of 3 is: 6
factorial of 4 is: 24
factorial of 5 is: 120
factorial of 6 is: 720
factorial of 7 is: 5040
factorial of 8 is: 40320
factorial of 9 is: 362880

In [44]:
# prime numbers upto n
n=10
for i in range(2,n+1):
    count=0
    for j in range(1,i+1):
        if i%j==0:
            count+=1
    if count==2:
        print(i)

2
3
5
7

In [1]:
l = [("m", 100),("r", 200),("a", 90),("w", 20),("b", 100),("p", 60), ("m", 60),("r", 70),("a", 100),("w", 100),
     ("r", 110), ("r", 20),("a", 12),("p", 127),("r", 40),("p", 100),("w", 250)]
# result = {"m": [100, 60, ....], "p": [........]}

In [16]:
l = [("m", 100),("r", 200),("a", 90),("w", 20),("b", 100),("p", 60), ("m", 60),("r", 70),("a", 100),("w", 100),
     ("r", 110), ("r", 20),("a", 12),("p", 127),("r", 40),("p", 100),("w", 250)]

d={}
for fruit,quantity in l:
    d[fruit]=d.get(fruit,[])+[quantity]
d

{'m': [100, 60],
 'r': [200, 70, 110, 20, 40],
 'a': [90, 100, 12],
 'w': [20, 100, 250],
 'b': [100],
 'p': [60, 127, 100]}