In [ ]:
# for loop:
# If we want to execute some action for every element present in some sequence(it may be
# string or collection) then we should go for 'for loop'.
# Body will be executed for every element present in the sequence.


# while loop:
# If we want to execute a group of statements iteratively until some condition false,then we
# should go for 'while loop'.

# Difference between 'for loop' and 'while loop':
# 'While loop' needs initialization, condition and increment, whereas 'for loop' does not.
# 'for loop' is used when we have definite iteration, whereas 'while loop' is used if we want to end loop when some condition is met.

In [ ]:
# Nested loops:
# Write a program to display stars in Right angled triangled form

In [17]:
# Sol-1
n=5
for i in range(1,n+1):
    for j in range(1,i+1):
        print('*', end="")
    print()

*
**
***
****
*****

In [20]:
# sol-2
n=5
for i in range(1,n+1):
        print('*'*i)

*
**
***
****
*****

In [37]:
# Write a program to display *'s in pyramid style(also known as equivalent triangle)
n=7
for i in range(1,n+1):
        print(' '*(n-i),end="")
        print('* '*i)                # '* ' ='*'+' '

      *
     * *
    * * *
   * * * *
  * * * * *
 * * * * * *
* * * * * * *

In [ ]:
# break: We can use break statement inside loops to break loop execution based on some condition.
# continue:We can use continue statement to skip current iteration and continue next iteration.

# pass statement: If a block or function is required which won't do anything then we can define that empty block with pass keyword.
# - It is an empty statement
# - It is null statement
# - It won't do anything

# 'loops with else block': Else part will be executed only if break statement is not present in loop or if it is not executed.
# else means loop without break

In [48]:
for i in range(10):
    print(i)
#     if i==13:
#         break
else:
    print('end')

0
1
2
3
4
5
6
7
8
9
end

In [1]:
# 1. Find the common part from the given iterables 
# Example: (1,2,3,4,6), (1,2,3,7,8,9), (1,2,3,10,11,12), (1,2,13,14,15)
# Result: (1,2)

In [3]:
a=(1,2,3,4,6)
b=(1,2,3,7,8,9)
c=(1,2,3,10,11,12)
d=(1,2,13,14,15)
result=[]
for i in a:
    for j in b:
        for k in c:
            for l in d:
                if i==j==k==l:
                    result.append(i)
print(tuple(result))

(1, 2)

In [25]:
#  2. L = [“a”,”b”,”c”,3,4,5].If it is an integer then add 10 to integer and print 
#  O/p -- a,b,c,13,14,15

In [7]:
L = ["a","b","c",3,4,5]
for i in L:
    if type(i)==int:  #  if isinstance(i,int or str or ....)
        print(10+i,end=",")
    else:
        print(i,end=",")

a,b,c,13,14,15,

In [30]:
#  3. L = [“a”,”b”,”c”,3,4,5] ..If it is integer add 10 and print all those values in list
#  o/p  --  [“a”,”b”,”c”,13,14,15].

In [8]:
L = ["a","b","c",3,4,5]
lst=[]
for i in L:
    if isinstance(i,int):
        lst.append(10+i)
    else:
        lst.append(i)
print(lst)

['a', 'b', 'c', 13, 14, 15]

In [33]:
# 4. L1 = [3,4,5,6],L2 = [4,3,2,1].Result list should be addition of elements in both lists O/p -- Result List -- [7,7,7,7]

In [11]:
L1 = [3,4,5,6]
L2 = [4,3,2,1]
result=[]
for i in range(0,len(L1)):
    result.append(L1[i]+L2[i])
print(result)

[7, 7, 7, 7]

In [39]:
# 5. L = [1,1,2,3,4,5,1,12,1,2,1,1,2] .remove duplicates without using set?
# Try with and without a temporary list?

In [2]:
#sol-1 with a temporary list
L = [1,1,2,3,4,5,1,12,1,2,1,1,2]
result=[] # with a temporary list
for i in L:
    if i not in result:
        result.append(i)
print(result)

[1, 2, 3, 4, 5, 12]

In [6]:
#sol-2 without a temporary list
L = [1,1,2,3,4,5,1,12,1,2,1,1,2]
for i in L:
    while L.count(i)>1:
        L.remove(i)
L

[3, 4, 5, 12, 1, 2]

In [50]:
# 6. S = “I am in hyderabad”.  Result = [“I”,”am”,”in”,”hyderabad”]
# Do this without using the Split( ) function.

In [20]:
S = "I am in hyderabad"
result=[]
string=''
for i in S:
    if i==' ':
        result.append(string)
        string=""
    else:
        string=string+i
result.append(string)
print(result)

hyderabad
['I', 'am', 'in', 'hyderabad']

In [64]:
# 23. Write a program to check if a given number is an armstrong number or not. Armstrong number is formed by sum of 
# cubes of each digit of a given number. 153 = 1*1*1 + 5*5*5 + 3*3*3  // 153 is an Armstrong number.

In [126]:
num=int(input("number:"))
temp=temp2=num
i=1
summ=0
noofdig=0
while temp2>0:
    temp2=temp2//10
    noofdig+=1
while num>0:
    n=(num%(10))
    num=num//(10)
    summ=summ+n**noofdig
    i+=1
if (summ==temp):
    print(temp,'is an Armstrong Number')
else:
    print(temp, "is not an Armstrong Number")

number:54748
54748 is an Armstrong Number

In [23]:
# 7. S = “I am in hyderabad”     Result = “I Am In Hyderabad”.
# Do this without using title ()

In [160]:
s = "i am in hyderabad"
string=''
t=s.split()
for i in t:
    i=i.capitalize()
    string+=" "
    string+=i
string

' I Am In Hyderabad'

In [19]:
# 8. S = “I am in hyderabad”.  If we give centre = 50
# Result = “                 I am in hyderabad                                 ”
# Do this without using centre ( )

In [32]:
# s = "i am in hyderabad"
# centre=50
s = input("s:")
centre=int(input('center:'))
string=''
lent=len(s)
diffby2=(centre-lent)//2
diff2=centre-(lent+diffby2)
for i in range(diffby2):
    string+=" "
for i in s:
    string+=i
for i in range(diff2):
    string+=" "
string

s:i am in hyderabad
center:50

'                i am in hyderabad                 '

In [33]:
# 9. S = “This is hyb9900164930 bngl 9900 apr9505909369 flair950”
# O/P -- only mobile numbers in above string
# 9900164930
# 9505909369

In [96]:
s = 'This is hyb9900164930 bngl 9900 apr9505909369 flair950'
string=""
for i in range(len(s)):
    if s[i].isdigit()==True:
        string+=s[i]
    if len(string)==10:
        print(string)
        string=""
    if s[i]==" ":
        string=""
# s = 'This is hyb9900164930 bngl 9900 apr9505909369 flair950'
# s1=s.split()
# string=""
# for i in s1:
#     for j in i:
#         if j.isdigit():
#             string+=j
#     if len(string)==10:
#         print(string)
#     string=""

9900164930
9505909369

In [3]:
# 10. To find the count of each character in the string
s = "i am in hyderabad"
set={}
for i in s:
    if i in set:
        set[i]+=1
    else:
        set[i]=1
set

{'i': 2,
 ' ': 3,
 'a': 3,
 'm': 1,
 'n': 1,
 'h': 1,
 'y': 1,
 'd': 2,
 'e': 1,
 'r': 1,
 'b': 1}

In [150]:
# 11. To find the count of a,e,i,o,u in the string
s = "i am in your bedroom"
sett={}
for i in s:
    if i.lower() in "aeiou":
        sett[i]=sett.get(i,0)+1
sett

{'i': 2, 'a': 1, 'o': 3, 'u': 1, 'e': 1}

In [178]:
# 13. A pangram is a sentence that contains all the letters of the English alphabet at least once, 
# for example: "The quick brown fox jumps over the lazy dog". Check whether it is a pangram.

In [199]:
s="The quick brown fox jumps over the laZy dog"
alp="abcdefghijklmnopqrstuvwxyz"
k=1
for i in alp:
    if i not in s.lower():
        print(i,"not there")
        k+=1
if k>1:
    print("Not a pangram")
else:
    print("Pangram")

y not there
Not a pangram

In [200]:
# 14. Write a Python program that accepts a string and calculates the number of upper case letters and lower case letters. 
# Sample String : 'The quick Brow Fox'
# Expected Output : 
#         No. of Uppercase characters : 3
#         No. of Lower case Characters : 12

In [229]:
strng='The quiCk Brow Fox'
u=0
l=0
for i in strng:
    if i.isupper():
        u+=1 
    elif i.islower():
        l+=1 
print(u,l)

4 11

In [230]:
# 15. Write a Python program that takes a list and creates a new list with unique elements of the first list.
# Sample List : [1,2,3,3,3,3,4,5]
# Unique List : [1, 2, 3, 4, 5]

In [251]:
l=list(input("Enter list values(only integers):").split(','))
m=[]
for i in l:
    if int(i) not in m:
        m.append(int(i))
m

Enter list values(only integers):1,2,3,3,3,3,4,5

[1, 2, 3, 4, 5]

In [ ]:
# 16. Write a Python program that accepts a hyphen separated sequence of words as input 
# and prints the words in a hyphen-separated sequence after sorting them alphabetically.
# Sample Items : green-red-yellow-black-white
# Expected Result : black-green-red-white-yellow

In [20]:
l=list(input("Enter list values:").split('-'))
l.sort()
'-'.join(l)
# for i in l:
#     print(i,end="-")

Enter list values:green-red-yellow-black-white

'black-green-red-white-yellow'

In [19]:
word='green-red-yellow-black-white'
colors=word.split('-')
colors.sort()
'-'.join(colors)

'black-green-red-white-yellow'

In [12]:
# 17. create a dictionary from a list of integers.
# i/p: [9,3,4,1,2,9,4,2,1,6,3,2,4]
# o/p: {9:2, 3:2, 2:3, 4:3, 1:2, 6:1}

In [270]:
l=[9,3,4,1,2,9,4,2,1,6,3,2,4]
dct={}
for i in l:
    if i in dct:
        dct[i]=dct.get(i,0)+1
    else:
        dct[i]=1
dct

{9: 2, 3: 2, 4: 3, 1: 2, 2: 3, 6: 1}

In [271]:
# 19. write a program to print if a given string is palindrome or not.
# i/p: "hello"  o/p: Not a palindrome.
# i/p: "madam"  o/p : It's a palindrome.

In [282]:
st=input("String:")
st2=''
for i in st:
    st2=i+st2
if st==st2:
    print("Palindrome")
else:
    print("Not a palindrome")

String:madam
Palindrome

In [283]:
# 20. Write a python program to interchange keys and values in a dictionary.
# i/p: {'x': 1, 'y': 2, 'z': 3}
# o/p: {1: 'x', 2: 'y', 3: 'z'}

In [340]:
dct={'x': 1, 'y': 2, 'z': 3}
dct2={}
k,v=dct.keys(),dct.values()
for key,value in dct.items():
    dct2[value]=key
print(dct2)

{1: 'x', 2: 'y', 3: 'z'}

In [341]:
# 21.Write a program to take consecutive elements from two lists.
# i/p: a = [3, 4, 5, 6],  b = [1, 2, 3, 4]
# o/p: [(3, 1), (4, 2), (5, 3), (6, 4)]

In [353]:
a = [3, 4, 5, 6]
b = [1, 2, 3, 4]
lst=[]
for i in range(0,len(a)):
    lst.append((a[i],b[i]))
lst

[(3, 1), (4, 2), (5, 3), (6, 4)]

In [354]:
# Write a program to group words from a list.
# i/p: ['ashok', 'hari', 'bhanu', 'anil', 'bharath', 'anvesh', 'uday', 'raja']
# o/p: {'a': ['ashok', 'anil', 'anvesh'], 'b': ['bhanu', 'bharath'], h: ['hari'], 'u': ['uday']
#      'r': ['raja']}

In [355]:
l=['ashok', 'hari', 'bhanu', 'anil', 'bharath', 'anvesh', 'uday', 'raja']
d={}