In [1]:
# 1. Find the common part from the given iterables 
# Example: (1,2,3,4,6), (1,2,3,7,8,9), (1,2,3,10,11,12), (1,2,13,14,15)
# Result: (1,2)

In [3]:
l= (1,2,3,4,6), (1,2,3,7,8,9), (1,2,3,10,11,12), (1,2,13,14,15)
for i in zip(*l):
    if len(set(i))==1:
        print(list(set(i))[0])

1
2

In [4]:
# 2. L = [“a”,”b”,”c”,3,4,5].If it is an integer then add 10 to integer and print 
#  O/p -- a,b,c,13,14,15

In [9]:
L = ['a','b','c',3,4,5]
for i in L:
    if isinstance(i,int):
        print(i+10, end=",")
    else:
        print(i, end=",")

a,b,c,13,14,15,

In [10]:
#  3. L = [“a”,”b”,”c”,3,4,5] ..If it is integer add 10 and print all those values in list
#  o/p  --  [“a”,”b”,”c”,13,14,15].

In [12]:
L = ['a','b','c',3,4,5]
[((i+10) if isinstance(i,int) else i) for  i in L]

['a', 'b', 'c', 13, 14, 15]

In [13]:
# 6. S = “I am in hyderabad”.  Result = [“I”,”am”,”in”,”hyderabad”]
# Do this without using the Split( ) function.

In [18]:
S = 'I am in hyderabad'
st=""
l=[]
for i in S:
    if i==" ":
        if st:
            l.append(st)
        st=""
    else:
        st+=i
else:
    if st:
        l.append(st)
l

['I', 'am', 'in', 'hyderabad']

In [19]:
# 7. s = “I am in hyderabad”     Result = “I Am In Hyderabad”.
# Do this without using title ()

In [24]:
s = 'I am in hyderabad'
st=""
st2=""
for i in S:
    if i==" ":
        if st:
            c=st.capitalize()
            st2+=c+" "
        st=""
    else:
        st+=i
else:
    if st:
        c=st.capitalize()
        st2+=c
st2

'I Am In Hyderabad'

In [25]:
# 9. S = “This is hyb9900164930 bngl 9900 apr9505909369 flair950”
# O/P -- only mobile numbers in above string
# 9900164930
# 9505909369

In [29]:
s = 'This is hyb9900164930 bngl 9900 apr9505909369 flair9505565565'
st=""
for i in s:
    if i.isdigit():
        st+=i
    else:
        if st and len(st)==10 and st[0] in '9876':
            print(st)
        st=""
else:
            if st and len(st)==10 and st[0] in '9876':
                print(st)

9900164930
9505909369
9505565565

In [30]:
# 10. S = “I am in bangalore”
# Count how many times letters are repeated in above string
# O/P  --  I = 2,a = 2,m=1,n=2,b=1,g=1,l=1,o=1,r=1,e=1

In [36]:
s = 'I am in hyderab2^23#%ad'
l={}
for i in s:
    if i!=' ' and i.isalnum():
        l[i]=l.get(i,0)+1
print(l)

{'I': 1, 'a': 3, 'm': 1, 'i': 1, 'n': 1, 'h': 1, 'y': 1, 'd': 2, 'e': 1, 'r': 1, 'b': 1, '2': 2, '3': 1}

In [37]:
# 12. S= “bangalore hyderabad chennai pune”
# Count how many times letters are repeated in each word .

In [46]:
s= 'bangalore hyderabad chennai pune'
l=s.split()
d={}
t={}
for i in l:
    for j in i:
        d[j]=d.get(j,0)+1
    t[i]=d
    d={}
(t)

{'bangalore': {'b': 1, 'a': 2, 'n': 1, 'g': 1, 'l': 1, 'o': 1, 'r': 1, 'e': 1},
 'hyderabad': {'h': 1, 'y': 1, 'd': 2, 'e': 1, 'r': 1, 'a': 2, 'b': 1},
 'chennai': {'c': 1, 'h': 1, 'e': 1, 'n': 2, 'a': 1, 'i': 1},
 'pune': {'p': 1, 'u': 1, 'n': 1, 'e': 1}}

In [47]:
# 18. Write a python program to create a dictionary.
# i/p:["sachin cricket", "Federer tennis", "Nadal tennis", "virat cricket", "Messi football"]
# o/p: {"cricket": ["sachin", "virat"], "tennis": ["federer", 'nadal'], "football": ['Messi']}

In [48]:
d=["sachin cricket", "Federer tennis", "Nadal tennis", "virat cricket", "Messi football"]
l={}
for i in d:
    k,v=i.split()
    l[v]=l.get(v,[])+[k]
    
l

{'cricket': ['sachin', 'virat'],
 'tennis': ['Federer', 'Nadal'],
 'football': ['Messi']}

In [49]:
# 23. Write a program to check if a given number is an armstrong number or not. Armstrong number is formed by
# sum of cubes of each digit of a given number.
# 153 = 1*1*1 + 5*5*5 + 3*3*3  // 153 is an Armstrong number.

In [53]:
n=153
ncopy=n
count=0
for i in str(n):
    count+=int(i)**(len(str(n)))
if count==ncopy:
    print('armstrong')
else:
    print('no')

armstrong

In [59]:
def fib(n):
    if n==0:
        print(0)
    else:
        a=0
        b=1
        for i in range(2, n+2):
            print(a)
            a,b=b,a+b
            
fib(10)

0
1
1
2
3
5
8
13
21
34

In [69]:
def fib(n):
    if n==0:
        print(0)
    else:
        a=0
        b=1
        while b<=n:
            print(b)
            a,b=b,a+b
           
            
fib(100)

1
1
2
3
5
8
13
21
34
55
89

In [70]:
l = [("m", 100),("r", 200),("a", 90),("w", 20),("b", 100),("p", 60), ("m", 60),("r", 70),("a", 100),("w", 100),
     ("r", 110), ("r", 20),("a", 12),("p", 127),("r", 40),("p", 100),("w", 250)]
# result = {"m": [100, 60, ....], "p": [........]}

In [73]:
result={}
for i in l:
    result[i[0]]=result.get(i[0],[])+[i[1]]
    
result

{'m': [100, 60],
 'r': [200, 70, 110, 20, 40],
 'a': [90, 100, 12],
 'w': [20, 100, 250],
 'b': [100],
 'p': [60, 127, 100]}

In [76]:
# 1. Problem 1
data = {
    "key1": {"key11": {"key111": {"key1111": 1}}},
    "key2": {"key22": {"key222": 2}},
    "key3": {"key33": 3},
    "key4": 4
}
# output [1,2,3,4]

In [79]:
def flt_lst(data):
    t=[]
    for k,v in data.items():
        if isinstance(v,dict):
            t.extend(flt_lst(v))
        else:
            t.append(v)
    return t
flt_lst(data)

[1, 2, 3, 4]

In [ ]:
data = {
    "key1": {"key11": {"key111": {"key1111":1}}},
    "key2": {"key22": {"key222": 2}},
    "key3": {"key33": 3},
    "key4": 4}

# {'key1.key11.key111.key1111': 1,
 'key2.key22.key222': 2,
 'key3.key33': 3,
 'key4': 4}

In [81]:
def func(data):
    d={}
    for k,v in data.items():
        if isinstance(v,dict):
            newk=f'{k}.{list(v.keys())[0]}'
            newv=list(v.values())[0]
            d.update(func({newk:newv}))
        else:
            d[k]=v
    return d
func(data)

{'key1.key11.key111.key1111': 1,
 'key2.key22.key222': 2,
 'key3.key33': 3,
 'key4': 4}

In [82]:
# Problem 7
# sum of the integers from a given string
# s = "abcaa1anv12hsd234mnxz3and45"
# result = 1+12+234+3+45

In [95]:
import re
from functools import reduce
s = "abcaa1anv12hsd234mnxz3and45"
t=reduce(lambda x,y:int(x)+int(y),(re.findall('[^a-z][0-9]*',s)))
t

295

In [97]:
print(dir(str))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'removeprefix', 'removesuffix', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

In [125]:
s='i am in hyderabad'
s.removesuffix('ad')

'i am in hyderab'